@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-kpj-brown font-sans;
  }
}


@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .frosted-glass {
    background-color: #2F272A;
  }
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .frosted-glass {
    /* background-color: #2F272A; */
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
}